/* .nav-container {
  background-color: rgba(255, 2, 2, 0.336);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 96%;
  z-index: 1;
  height: 70px;
  text-align: right;
} */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80%;
  transition: background-color 0.6s ease-in-out;
  background-color: pink;
}

  nav.active {
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.157);
    background-color: black;
  }
  nav li {
    display: flex;
  }
  nav li ul a {
    font-family: "Bebas Neue";
    height: 40px;
    line-height: 43px;
    margin: 3px;
    padding: 0px 22px;
    display: flex;
    font-size: 1.0rem;
    text-transform: lower;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.2s ease-in-out;
  }
  nav li ul a:hover {
    cursor: pointer;
    background-color: #00df9a;
    color: #ffffff;
    box-shadow: 5px 10px 30px rgba(255, 2, 2, 0.336);
    transition: all ease 0.2s;
  }
  nav .menu-btn,
  .menu-icon {
    display: none;
  }
  .logo img {
    width: 120px;
  }
  
  @media (max-width: 1100px) {
    .logo img {
      width: 120px;
    }
  
    nav {
      justify-content: space-between;
      height: 65px;
      padding: 0px 30px;
    }
    nav .menu ul a {
      width: 100%;
      height: 40px;
      justify-content: center;
      align-items: center;
      margin: 0px;
      padding: 25px;
      cursor: pointer;
      border: 1px solid rgba(38, 38, 38, 0.03);
    }
    nav .menu-icon {
      cursor: pointer;
      float: right;
      padding: 28px 20px;
      position: relative;
      user-select: none;
    }
    nav .menu-icon .nav-icon {
      background-color: #00df9a;
      display: block;
      height: 2px;
      position: relative;
      transition: background 0.2s ease-out;
      width: 24px;
    }
    nav .menu-icon .nav-icon:before,
    nav .menu-icon .nav-icon:after {
      background: rgb(255, 255, 255);
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      transition: all ease-out 0.2s;
      width: 100%;
    }
    nav .menu-icon .nav-icon:before {
      top: 6px;
      background-color: #00df9a;
    }
    nav .menu-icon .nav-icon:after {
      top: -6px;
      background-color: #00df9a;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon {
      background: transparent;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon:before {
      transform: rotate(-45deg);
      top: 0;
      background-color: #00df9a;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon:after {
      transform: rotate(45deg);
      top: 0;
      background-color: #00df9a;
    }
    nav .menu-btn {
      display: none;
    }
    nav .menu-btn:checked ~ .menu {
      display: block;
    }
    .menu-icon {
      display: block;
    }
    .menu {
      display: none;
      position: absolute;
      top: 65px;
      left: 0px;
      background-color: #000000;
      border-bottom: 4px solid #00df9a;
      width: 100%;
      padding: 0px;
      margin: 0px;
    }
    .menu li {
      width: 100%;
    }
  }
  