.footer-container {
    background: rgb(218, 211, 211);
    max-width: 2240px;
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    color: #978282;
    margin-top: 50px;
  }
  
  .footer-logo {
    font-size: 3rem;
    font-weight: bold;
    color: #794624;
  }
  
  .social-icons {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin-top: 16px;
  }
  
  .social-icons svg {
    font-size: 30px;
  }
  
  .footer-column {
    flex: 1;
    margin-top: 16px;
  }
  
  .column-title {
    font-weight: 500;
    color: #888;
  }
  
  .column-list {
    list-style: none;
    padding: 0;
  }
  
  .column-list li {
    padding: 8px 0;
    font-size: 14px;
  }
  